<table class="table is-striped">

<thead>
  <tr>
    <th>Bill Name</th>
    <th>Congress Session</th>
    <th>Party</th>
  </tr>
</thead>

<tbody>
  <tr>
    <td>Database Success Act</td>
    <td>2017</td>
    <td>Democratic</td>
  </tr>
  <tr>
    <td>SQL Act of 2018</td>
    <td>2018</td>
    <td>Democratic</td>
  </tr>
  <tr>
    <td>MongoDB Act</td>
    <td>2016</td>
    <td>Republican</td>
  </tr>
</tbody>

</table>
