<table class="table is-striped">

<thead>
  <tr>
    <th>Committee</th>
  </tr>
</thead>

<tbody>
  <tr>
    <td>CIS 450 Committee</td>
  </tr>
  <tr>
    <td>CIS 550 Committee</td>
  </tr>
  <tr>
    <td>CIS 121 Committee</td>
  </tr>
  <tr>
    <td>CIS 197 Committee</td>
  </tr>
  <tr>
    <td>CIS 160 Committee</td>
  </tr>
  <tr>
    <td>CIS 120 Committee</td>
  </tr>
  <tr>
    <td>CIS 110 Committee</td>
  </tr>
</tbody>

</table>
