<nav class="navbar is-transparent">
  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="button is-link is-inverted">
              Log in
            </a>
          </p>
          <p class="control">
            <a class="button is-link is-inverted">
              Sign up
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>
