<table class="table is-fullwidth is-striped">

<thead>
  <tr>
    <th>Representative Name</th>
    <th>Party</th>
    <th>Bills Voted On</th>
    <th>Bills Authored</th>
    <th>Committees</th>
    <th>Party Alignment</th>
    <th>Score (1-10)</th>
  </tr>
</thead>

<tbody>
  <tr>
    <td><a href="/representatives/1">Mickey Mouse</a></td>
    <td>Democratic</td>
    <td>124</td>
    <td>18</td>
    <td>2</td>
    <td>85%</td>
    <td>7</td>
  </tr>
  <tr>
    <td><a href="/representatives/2">Minnie Mouse</a></td>
    <td>Democratic</td>
    <td>86</td>
    <td>23</td>
    <td>3</td>
    <td>93%</td>
    <td>9</td>
  </tr>
  <tr>
    <td><a href="/representatives/3">Donald Duck</a></td>
    <td>Republican</td>
    <td>54</td>
    <td>3</td>
    <td>2</td>
    <td>89%</td>
    <td>8</td>
  </tr>
  <tr>
    <td><a href="/representatives/4">Daisy Duck</a></td>
    <td>Republican</td>
    <td>101</td>
    <td>14</td>
    <td>3</td>
    <td>47%</td>
    <td>8</td>
  </tr>
</tbody>

</table>
