<body>
<section class="section">
  <div class="container">
    <h1 class="title">
      Congressional Effectiveness
    </h1>
    <p class="subtitle">
      A CIS 450 final project that explores how effective our Congress is.
    </p>
  </div>
</section>
</body>
