<body>

<section class="hero is-info is-bold">
  <div class="hero-head">
    {{> navbar}}
  </div>
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Congressional Effectiveness
      </h1>
      <p class="subtitle">
        A CIS 450 final project that explores how effective our Congress is.
      </p>
    </div>
  </div>
  <div class="hero-foot">
    <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li class="is-active">
            <a>Representatives</a>
          </li>
          <li>
            <a>Bills</a>
          </li>
          <li>
            <a>Committees</a>
          </li>
        </ul>
      </div>
  </div>
</section>

</body>
