<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Congressional Effectiveness</title>
    <script src="/static/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/bulma.min.css">
    <script defer src="/static/all.js"></script>
  </head>
  {{{ body }}}
</html>
